OPENAI_API_KEY=sk-...
ASR_MODEL_PATH=./llm/breeze-raw
TTS_MODEL_PATH=./llm/BreezyVoice
BREEZYVOICE_CODE_PATH=./BreezyVoice-code
SPEAKER_AUDIO_PATH=./data/tc_speaker.wav
SPEAKER_TEXT=在密碼學中，加密是將明文資訊改變為難以讀取的密文內容，使之不可讀的方法。只有擁有解密方法的對象,經由解密過程才能將密文還原為正常可讀的內容。
HOST=0.0.0.0
PORT=8000
TEMP_DIR=./temp
MAX_TEMP_AGE_HOURS=1
